.page_title {
    position: relative;

    &__inner {
        &_widthAvatar {
            display: grid;
            grid-template-columns: 50px 1fr;
            column-gap: 8px;
            align-items: center;
        }
    }

    &__btn {
        position: absolute;
        top: 8px;
        left: -140px;
    }

    &__title {
        margin: 0 !important;
    }
}
