.ticket_response {
    max-width: 900px;
    margin: 0 auto;

    &__inner {
        margin: 0 auto;
    }

    &__title {
        margin-bottom: 20px;
    }

    &__content {
    }

    &__time {
        margin-top: 24px;
        display: flex;
        flex-direction: column;
    }
}
